<div>
  <h1>{{title}}</h1>
</div>
<div class="container">
  <form #memform="ngForm" (ngSubmit)="onClickSubmit(memform.value);memform.reset();">
    <input type="hidden" name="mem_id" [ngModel]="mem_id">
    <div class="formgroup">
      <input type="text" name="firstname" placeholder="Enter FirstName" [ngModel]="firstname">
    </div>
    <div class="formgroup">
      <input type="text" name="lastname" placeholder="Enter LastName" [ngModel]="lastname">
    </div>
    <button type="submit" *ngIf="!idToUpdate">Insert</button>
    <button type="submit" *ngIf="idToUpdate">Update</button>
    <!--<button type="button">Cancel</button>-->
  </form>
</div>
<br/>
<div class="container">
  <table id="example">
    <thead><tr><th>firstname</th>
    <th>lastname</th>
    <th>delete</th>
    <th>edit</th></tr></thead>
    <tbody>
    <tr *ngFor="let mem of memservice.data">
      <td *ngIf="!contentEdit; else show">{{mem.firstname}}</td>
      <ng-template #show>
        <td *ngIf="iid === mem.mem_id; else other"><input type="text" value="{{mem.firstname}}"></td>
      </ng-template>
      <ng-template #other><td>{{mem.firstname}}</td> </ng-template>

      <td *ngIf="!contentEdit; else show1">{{mem.lastname}}</td>
      <ng-template #show1>
        <td *ngIf="iid === mem.mem_id; else other1"><input type="text" value="{{mem.lastname}}"></td>
      </ng-template>
      <ng-template #other1><td>{{mem.lastname}}</td> </ng-template>

      <td><button (click)="onDelete(mem.mem_id)">Delete</button></td>
      <td *ngIf="!contentEdit; else show2">
        <button (click)="onFetch(mem.mem_id)">Edit</button></td>
      <ng-template #show2>
          <td><button type="submit" (click)="onClickSubmit(memform.value)">Update</button></td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
